<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control" placeholder="min quantity" name="blockNumber" [(ngModel)]="queryParams.minQuantity">
          <input type="text" class="form-control" placeholder="max quantity" name="authorizer" [(ngModel)]="queryParams.maxQuantity">
          <select class="form-control" name="status" [(ngModel)]="queryParams.name">
            <option value="">All</option>
            <option value="buyram">Buy Ram</option>
            <option value="sellram">Sell Ram</option>
          </select>
          <button type="submit" class="btn btn-primary" (click)="onSearch()" (keyup.enter)="onSearch()">Search</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    EOS RAM Price
    <span class="text-warning">{{ status.ramPrice }}</span> Overall RAM
    <span class="text-warning">{{ status.usedPercent }}</span>
  </nb-card-header>
</nb-card>
<div class="row">
  <div class="col-xxxl-6">
    <nb-card>
      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
