<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-body>
        <form class="form-inline">
          <input type="text" class="form-control" placeholder="name" name="name" [(ngModel)]="queryParams.name">
          <input type="text" class="form-control" placeholder="issuer" name="issuer" [(ngModel)]="queryParams.issuer">
          <button type="submit" class="btn btn-primary" (click)="onSearch()" (keyup.enter)="onSearch()">Search</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    <span class="text-warning">{{source.count()}}</span> Tokens
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
  </nb-card-body>
</nb-card>
