<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation">
      <i class="nb-menu"></i>
    </a>
    <div class="logo" (click)="goToHome()">EXPLORER
      <span></span>
    </div>
  </div>
</div>

<div class="header-container" style="width: 100%;">
  <form class="static-search form-inline row" style="width: 100%;">
      <div class="input-group col-12">
        <input fullWidth type="text" class="form-control" [(ngModel)]="keyword" name="keyword" placeholder="Search for txid/account/public key/meno" (click)="onSearch()" (keyup.enter)="onSearch()">
        <span class="input-group-append">
          <button class="btn btn-danger input-group-text" (click)="onSearch()" (keyup.enter)="onSearch()">
            Search
          </button>
        </span>
      </div>
    </form>
  </div>
