@import '../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';

@include nb-install-component() {

  .block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: nb-theme(color-fg);
    padding: 1rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid nb-theme(separator);

      @include nb-for-theme(corporate) {
        border-bottom-color: nb-theme(tabs-separator);
      }
    }
  }

  .time {
    font-size: 0.875rem;
    font-weight: nb-theme(font-weight-light);
    text-transform: uppercase;
  }

    .block-number {
      font-family: nb-theme(font-secondary);
      font-weight: nb-theme(font-weight-bold);
      color: nb-theme(color-fg-heading);
      font-size: 1.25rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(font-weight-bolder);
      }
    }

    .block-producer {
      font-size: 0.875rem;
      font-weight: nb-theme(font-weight-light);
      text-transform: uppercase;
    }
  
}
